<html> <!-- PLANTILLA PADRE (se ve lo de arriba y lo de abajo) -->

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'proyectowebapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'proyectowebapp/css/solmaforo.css' %}" rel="stylesheet">
</head>

<body>

  <div class="text-center d-none d-lg-block">
    <img src="{% static 'proyectowebapp/img/00_Solmaforos_Mesa de trabajo 1 copia.png' %}" alt="Solmaforo Logo" class="img-fluid" style="max-height: 180px;">
  </div>


 <!-- Navegacion barra -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home'%}">SOLMÁFOROS CÓRDOBA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home'%}">Solmáforo</a>
          </li>
          <li class="nav-item {% if request.path == '/indiceuv' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'indiceuv'%}">índice UV</a>
          </li>
          <li class="nav-item {% if request.path == '/importancia' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'importancia'%}">Importancia</a>
          </li>
          <li class="nav-item {% if request.path == '/graficos' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'graficos'%}">Gráficos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- contenido cambiante en las distintas paginas -->
  {% block content %}

  {% endblock %}

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Universidad Nacional de Cordoba</a> ·
        	<a href="sample.html" class="link">Facultad de Ciencias Exactas, Fisicas y Naturales</a> ·
        	<a href="sample.html" class="link">FCEFYN</a>
		</p>
        <p class="m-0 mbt1">&copy; PI SOLMAFOROS</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'proyectowebapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'proyectowebapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>